.pagina-inicial-computador {
width: 100%;
position: relative;
background: linear-gradient(180deg, #40024e, #470356 0.01%, #600474 33.65%, #9406b4 38.46%, #b013b7 58.65%, #c41dba 71.88%, #fa0daf 85.05%, #fb1ab4 90.23%, #ff39c0 97.12%);
height: 2658px;
overflow: hidden;
text-align: center;
font-size: 20px;
color: #fff;
font-family: Inter;
}
.pagina-inicial-computador-child {
position: absolute;
top: -1px;
left: -1px;
box-shadow: 8px 9px 20px rgba(0, 0, 0, 0.25);
background-color: #350a3f;
border: 1px solid #000;
box-sizing: border-box;
width: 1442px;
height: 203px;
}
.facebooklogo-1-icon {
position: absolute;
top: 37px;
left: 1135px;
width: 106px;
height: 106px;
object-fit: cover;
}
.logoinsta-1-icon {
position: absolute;
top: 51px;
left: 1241px;
width: 78px;
height: 78px;
object-fit: cover;
}
.youtubelogo-1-icon {
position: absolute;
top: 38px;
left: 1319px;
width: 105px;
height: 105px;
object-fit: cover;
}
.partedalogo {
position: absolute;
top: 37px;
left: 20px;
border-radius: 50%;
background-color: #fff;
width: 140px;
height: 121px;
}
.pagina-inicial-computador-item {
position: absolute;
top: 953px;
left: 94px;
border-radius: 82px;
background-color: #edd5d5;
border: 5px solid #000;
box-sizing: border-box;
width: 1212px;
height: 181px;
}
.play {
position: absolute;
top: 970px;
left: 642px;
border-radius: 50%;
background-color: #030000;
width: 155px;
height: 147px;
}
.botaodeplay-1-icon {
position: absolute;
top: 1009px;
left: 701px;
width: 62px;
height: 70px;
object-fit: cover;
}
.pagina-inicial-computador-inner {
position: absolute;
top: 1005px;
left: 947px;
border-radius: 37px;
background-color: #d9d9d9;
border: 6px solid #3b0a46;
box-sizing: border-box;
width: 215px;
height: 74px;
}
.ver-programao {
position: absolute;
top: 1032px;
left: 994px;
font-size: 12px;
line-height: 20px;
font-weight: 500;
color: #000;
-webkit-text-stroke: 1px #000;
paint-order: stroke fill;
}
.rectangle-div {
position: absolute;
top: 1005px;
left: 277px;
border-radius: 37px;
background-color: #fcd513;
border: 6px solid #443e46;
box-sizing: border-box;
width: 215px;
height: 74px;
}
.abrir-player {
position: absolute;
top: 1032px;
left: 343px;
font-size: 12px;
line-height: 20px;
font-weight: 500;
color: #000;
-webkit-text-stroke: 1px #000;
paint-order: stroke fill;
}
.radioequipe2-2-icon {
position: absolute;
top: 237px;
left: -76px;
width: 1551px;
height: 628px;
object-fit: cover;
}
.ellipse-div {
position: absolute;
top: 816px;
left: 664px;
border-radius: 50%;
background-color: #fff;
width: 29px;
height: 26px;
}
.pagina-inicial-computador-pagina-inicial-computador-child {
position: absolute;
top: 816px;
left: 620px;
border-radius: 50%;
background-color: rgba(255, 255, 255, 0.69);
width: 29px;
height: 26px;
}
.pagina-inicial-computador-child2 {
position: absolute;
top: 816px;
left: 707px;
border-radius: 50%;
background-color: #fff;
width: 29px;
height: 26px;
}
.pagina-inicial-computador-child3 {
position: absolute;
top: 816px;
left: 790px;
border-radius: 50%;
background-color: #fff;
width: 29px;
height: 26px;
}
.pagina-inicial-computador-child4 {
position: absolute;
top: 816px;
left: 750px;
border-radius: 50%;
background-color: #fff;
width: 29px;
height: 26px;
}
.fotoparawebsite-1-icon {
position: absolute;
top: 1492px;
left: 66px;
border-radius: 97px;
width: 361px;
height: 481px;
object-fit: cover;
}
.pagina-inicial-computador-child5 {
position: absolute;
top: 2306px;
left: -6px;
background-color: #0b0000;
width: 1446px;
height: 352px;
}
.jmradio-1-icon {
position: absolute;
top: 63px;
left: 41px;
width: 98px;
height: 69px;
object-fit: cover;
}
.explore-nossos-vdeos-container {
position: absolute;
top: 1209px;
left: 167px;
line-height: 30px;
color: #fffafa;
display: inline-block;
width: 1105px;
height: 165px;
font-size: 40px;
}
.explore-nossos-vdeos {
margin: 0;
font-weight: 900;
}
.blank-line {
margin: 0;
font-size: 20px;
}
.pagina-inicial-computador-blank-line {
font-weight: 500;
}
.confira-nossos-vdeos-e-fique {
margin: 0;
font-size: 32px;
}
.equipe {
position: absolute;
top: 89px;
left: 390px;
line-height: 20px;
font-weight: 500;
font-family: 'Instrument Sans';
}
.concursos {
position: absolute;
top: 89px;
left: 633px;
line-height: 20px;
font-weight: 500;
font-family: 'Instrument Sans';
}
.programas {
position: absolute;
top: 89px;
left: 811px;
line-height: 20px;
font-weight: 500;
font-family: 'Instrument Sans';
}
.mdias {
position: absolute;
top: 89px;
left: 513px;
line-height: 20px;
font-weight: 500;
font-family: 'Instrument Sans';
}
.sobre-ns {
position: absolute;
top: 89px;
left: 226px;
line-height: 20px;
font-weight: 500;
font-family: 'Instrument Sans';
}
.equipe2-1-icon {
position: absolute;
top: 1492px;
left: 536px;
border-radius: 115px;
width: 401px;
height: 480px;
object-fit: cover;
}
.image-1-icon {
position: absolute;
top: 1492px;
left: 1046px;
border-radius: 88px;
width: 344px;
height: 478px;
object-fit: cover;
}
.de-estudantes-para {
position: absolute;
top: 2054px;
left: -1422px;
font-size: 24px;
line-height: 30px;
font-weight: 900;
display: inline-block;
width: 305px;
}
.nos-bastidores-com {
position: absolute;
top: 2054px;
left: -408px;
font-size: 24px;
line-height: 30px;
font-weight: 900;
display: inline-block;
width: 229px;
}
.do-mic-para {
position: absolute;
top: 2060px;
left: -920px;
font-size: 24px;
line-height: 30px;
font-weight: 900;
display: inline-block;
width: 273px;
}
.pagina-inicial-computador-de-estudantes-para {
position: absolute;
top: 1989px;
left: 99px;
font-size: 24px;
line-height: 30px;
font-weight: 900;
display: inline-block;
width: 305px;
}
.pagina-inicial-computador-nos-bastidores-com {
position: absolute;
top: 1989px;
left: 1113px;
font-size: 24px;
line-height: 30px;
font-weight: 900;
display: inline-block;
width: 229px;
}
.pagina-inicial-computador-do-mic-para {
position: absolute;
top: 1995px;
left: 601px;
font-size: 24px;
line-height: 30px;
font-weight: 900;
display: inline-block;
width: 273px;
}
.paranaintegral-2-icon {
position: absolute;
top: 2466px;
left: 1072px;
width: 362px;
height: 104px;
object-fit: cover;
}
.nossos-contatos-endereo-container {
position: absolute;
top: 2365px;
left: 569px;
line-height: 20px;
display: inline-block;
width: 301px;
height: 281px;
}
.nossos-contatos {
margin: 0;
}
.pagina-inicial-computador-nossos-contatos {
font-weight: 900;
}
.jmradiomaffeigmailcombr {
margin: 0;
font-size: 15px;
font-weight: 500;
}
.redes-sociais {
position: absolute;
top: 2331px;
left: 1188px;
line-height: 20px;
font-weight: 900;
}
.facebooklogo-4-icon {
position: absolute;
top: 2362px;
left: 1121px;
width: 106px;
height: 106px;
object-fit: cover;
}
.youtubelogo-4-icon {
position: absolute;
top: 2363px;
left: 1305px;
width: 105px;
height: 105px;
object-fit: cover;
}
.logoinsta-4-icon {
position: absolute;
top: 2376px;
left: 1227px;
width: 78px;
height: 78px;
object-fit: cover;
}
.maffei-2-icon {
position: absolute;
top: 2526px;
left: 660px;
width: 120px;
height: 120px;
object-fit: cover;
}
.jmrdio-todos {
position: absolute;
top: 2588px;
left: 1088px;
font-size: 16px;
line-height: 20px;
font-weight: 500;
}
.desenvolvido-por-isis {
position: absolute;
top: 2613px;
left: 1267px;
font-size: 14px;
line-height: 20px;
font-weight: 500;
color: #fffafa;
}
.isis {
color: #f80bf4;
}
.logoradio-4-icon {
position: absolute;
top: 2382px;
left: 40px;
width: 157px;
height: 118px;
object-fit: cover;
}
.a-educao-integral {
position: absolute;
top: 2498px;
left: 27px;
line-height: 20px;
font-weight: 900;
display: inline-block;
width: 184px;
height: 77px;
}
body {
margin: 0;
line-height: normal;
}